<tr class="tr-shadow">
    <!--Position-->
    <td>{{title}}</td>
    <!--Company Name-->
    <td>{{company_name}}</td>
    <!--Date Added-->
    <td>{{date_created}}</td>
    <!--Status-->
    <td>
        <span class="badge badge-pill badge-{{getApplicationStatusColor application_status}}">{{application_status}}</span>
    </td>
    <!--Location-->
    <td>{{location}}</td>
    <!--Icons-->
    <td>
        <div class="table-data-feature" data-job-id="{{id}}">
            <!--Delete-->
            <button class="item delete-job-button" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete">
                <i class="zmdi zmdi-delete"></i>
            </button>
            <!--More Info-->
            <button class="item btn btn-secondary mb-1 redirect-button" type="button" data-placement="top" title="" data-original-title="More">
                <i class="zmdi zmdi-more"></i>
            </button>
        </div>
    </td>
</tr>
<tr class="spacer"></tr>